<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.0.xsd  
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
        <!-- 配置自定义扫描的包 -->
	<context:component-scan base-package="com.manager"></context:component-scan>
	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	<!-- 直接转发的界面 ,无需经过Handle-->
	<mvc:view-controller path="/index.do" view-name="index" />
	<mvc:view-controller path="/gallery.do" view-name="gallery" />
	<mvc:view-controller path="/test.do" view-name="test" />
	<mvc:view-controller path="/upload.do" view-name="upload" />
	<mvc:view-controller path="/add.do" view-name="addSubjectAndScenic" />
	<mvc:view-controller path="/scenic.do" view-name="addScenic" />
	<mvc:view-controller path="/subject.do" view-name="addSubject" />
    <mvc:view-controller path="/login.do" view-name="login" />

    
	 <!-- 过滤静态资源 -->
	<mvc:resources location="/assets/" mapping="/assets/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/image/" mapping="/image/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/kindeditor/" mapping="/kindeditor/**" />
	<mvc:resources location="/plupload/" mapping="/plupload/**" />
	<mvc:resources location="/test/" mapping="/test/**" />
	<mvc:resources location="/diagram/" mapping="/diagram/**" />
	<mvc:resources location="/json/" mapping="/json/**" />
	<!-- Spring MVC注解功能 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		
	</bean>
	<!-- 从请求和响应读取/编写字符串 -->
	 
	<bean id="stringHttpMessage" class="org.springframework.http.converter.StringHttpMessageConverter">
	    <property name="supportedMediaTypes">
	        <list>
              <value>text/plain;charset=UTF-8</value>	
	        </list>
	    </property>
	</bean>
	<!-- 用于将对象转化为JSON格式 -->
	<bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	    <property name="messageConverters">
	        <list>
	            <ref bean="stringHttpMessage"/>    
	            <ref bean="jsonConverter"/>       
	        </list>	        
	    </property>
	</bean>
	<!-- 在实际开发中都需要配置mvc:annotation-driven 暂不清楚作用 -->
	<mvc:annotation-driven></mvc:annotation-driven>
</beans>  